<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Hello, world!</title>
    <style>
        .paddingText {
            padding: 10px;
        }
        .leftimg {
            float:left; /* Выравнивание по левому краю */
            margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        }
        .rightimg  {
            float: right; /* Выравнивание по правому краю  */
            margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
        }
    </style>
</head>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div class="container-fluid" style="padding: 0px">
    <div class="container-fluid" style="padding: 0px">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="col-md-1">
                <!--<img src="https://i.imgur.com/KZsHvRS.png" width="50" height="50">-->
                <img src="https://image.flaticon.com/icons/svg/1642/1642899.svg" width="50" height="50">
            </div>
            <!--<a class="navbar-brand" href="index.php">Достижения клиники</a>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://vk.com/javawithfitr" target="_blank">Группа
                        VK</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">О
                        клинике</a></li>
                    <li class="nav-item "><a class="nav-link" href="/best-doctors">Лучшие доктора недели</a></li>
                </ul>

                <button id="ip-text1" style="margin-right: 15px" class="btn btn-success my-2 my-lg-0 " type="submit"
                        onclick="prompt('Скопируйте наш IP адрес и вставьте в ваш клиент:','MC.YOTTACRAFT.RU'); return false;">
                    Войти
                </button>

                <button id="ip-text" class="btn btn-success my-2 my-lg-0" type="submit" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    Зарегистрироваться
                </button>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>

<h1 align="center">Ветеринарная клиника </h1>
</br>

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2500">
                <img src="http://pluspng.com/img-png/vet-clinic-png-image-s2e39-exterior-shot-of-veterinary-clinic-png-star-vs-the-forces-of-evil-wiki-fandom-powered-by-wikia-1920.png" width="720" height="350" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="http://svishtov-info.net/userfiles/pets.png" width="720" height="350"  class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="http://pluspng.com/img-png/vet-clinic-png-atglen-veterinary-hospital-animal-hospital-vet-694.png" width="720" height="350"  class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="http://penevvet.com/wp-content/uploads/2016/11/pets_big.png" width="720" height="350" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="http://buhta.by/wp-content/uploads/2018/01/иконки/minions-main.png" width="720" height="350" class="d-block w-100" alt="...">
            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

</br>
<h1 align="center">О нас... </h1>
<p class="paddingText"><img src="http://pngimg.com/uploads/cat/cat_PNG50485.png" class="leftimg" align="right" width="400" height="300">
    Обследование домашнего питомца — сложная работа, требующая понимания мельчайших признаков заболевания. Все это возможно лишь в том случае, если ветеринарный врач обладает безграничной любовью к животному. Ветврачу необходимо особое чутье, ведь его пациенты не расскажут о проблемах, действовать нужно терпеливо, внимательно и мгновенно, дабы распознать любые симптомы болезни и предотвратить страдания. Претендовать на открытые вакансии ветврачей в клинике «ВетМедЦентр» могут только лучшие белорусские специалисты.

    Щадящее отношение к животному является одним из приоритетов в работе специалистов ветеринарной клиники «ВетМедЦентр». При выборе алгоритма лечения принимаются во внимание все видовые и индивидуальные особенности животного. Хозяину не придется беспокоиться, так как наши специалисты быстро проведут диагностику, назначат эффективное лечение и проследят за реабилитацией Вашего любимца.</p>
<p class="paddingText"><img src="http://www.bars-vet.ru/system/image/177/content_file.png" class="rightimgimg" align="right" width="400" height="300">
    Обследование домашнего питомца — сложная работа, требующая понимания мельчайших признаков заболевания. Все это возможно лишь в том случае, если ветеринарный врач обладает безграничной любовью к животному. Ветврачу необходимо особое чутье, ведь его пациенты не расскажут о проблемах, действовать нужно терпеливо, внимательно и мгновенно, дабы распознать любые симптомы болезни и предотвратить страдания. Претендовать на открытые вакансии ветврачей в клинике «ВетМедЦентр» могут только лучшие белорусские специалисты.

    Щадящее отношение к животному является одним из приоритетов в работе специалистов ветеринарной клиники «ВетМедЦентр». При выборе алгоритма лечения принимаются во внимание все видовые и индивидуальные особенности животного. Хозяину не придется беспокоиться, так как наши специалисты быстро проведут диагностику, назначат эффективное лечение и проследят за реабилитацией Вашего любимца.</p>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-left: 8em">Type of users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="get">
                <div class="modal-body">
                    <button name="doctor" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Doctor
                    </button>
                    <button name="owner" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Owner
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>