


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: header"></div>
</br>
<h1 align="center">Лучшие врачи недели!</h1>
</br>
<div class="row" align="center">
    <div class="card" style="width: 18rem; margin-right: 2em; margin-left: 7em " >
        <img src="https://image.freepik.com/free-photo/_1301-7807.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Хирург</h5>
            <p class="card-text">Лучшая работа хирурга на этой неделе</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 2em; margin-left: 2em">
        <img src="https://image.freepik.com/free-photo/_1301-7807.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Офтальмолог</h5>
            <p class="card-text">Офтальмолог - обслужил больше всего клиентов</p>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-right: 2em; margin-left: 2em">
        <img src="https://image.freepik.com/free-photo/_1301-7807.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Терапевт</h5>
            <p class="card-text">Терапевт - вылечил всех животных</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 2em; margin-left: 2em">
            <img src="https://image.freepik.com/free-photo/_1301-7807.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Травматолог</h5>
                <p class="card-text">Травматолог - наложил гипс самой злой собаке на свете</p>
            </div>
    </div>
        <div class="card" style="width: 18rem;  margin-right: 2em; margin-left: 2em">
            <img src="https://image.freepik.com/free-photo/_1301-7807.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Кардиолог</h5>
                <p class="card-text">Спас хомячка от инфаркта</p>
            </div>
        </div>

</div>

<div th:replace="footer :: footer"></div>
</body>
</html>