


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: header"></div>
</br>
<h1 align="center">Лучшие врачи недели!</h1>
</br>
<div class="row">
    <div class="card" style="width: 18rem; margin-right: 2em; margin-left: 2em " >
        <img src="https://stickeroid.com/uploads/pic/full/thumb/stickeroid_5bf57dcb2870c.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Лучший врач</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://stickeroid.com/uploads/pic/full/thumb/stickeroid_5bf57dcb2870c.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Лучший врач</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
    </div>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>