<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="../static/back.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="back.css">
    <title>Hello, world!</title>
</head>
<body>

<div class="container-fluid" style="padding: 0px">
    <div class="container-fluid" style="padding: 0px">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="col-md-1">
                <!--<img src="https://i.imgur.com/KZsHvRS.png" width="50" height="50">-->
                <img src="https://image.flaticon.com/icons/svg/1642/1642899.svg" width="50" height="50">
            </div>
            <!--<a class="navbar-brand" href="index.php">Достижения клиники</a>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://vk.com/javawithfitr" target="_blank">Группа
                        VK</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">О
                        клинике</a></li>
                    <li class="nav-item "><a class="nav-link" href="/best-doctors">Лучшие доктора недели</a></li>


                </ul>

                <button id="ip-text1" style="margin-right: 15px" class="btn btn-success my-2 my-lg-0 " type="submit"
                        onclick="prompt('Скопируйте наш IP адрес и вставьте в ваш клиент:','MC.YOTTACRAFT.RU'); return false;">
                    Войти
                </button>

                <button id="ip-text" class="btn btn-success my-2 my-lg-0" type="submit" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    Зарегистрироваться
                </button>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="row " style="margin: 0">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <!--<img src="http://s1.1zoom.me/big0/27/Cats_White_background_505955.jpg" width="500" height="700">-->
            <img src="https://i.imgur.com/n1oT1dC.png" width="700" height="800">
        </div>
        <div class="col-auto d-none d-lg-block h4" style="margin-top: 9em ">
            <div class="col-md-10">
                <form action="/login">

                    <div class="form-group">
                        <label for="InputNickname">Nickname</label>
                        <input name="nickName" type="text" class="form-control" id="InputNickname"
                               placeholder="Nickname">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input name="phoneNumber" type="number" class="form-control" id="phoneNumber"
                               aria-describedby="emailHelp" placeholder="Enter phone Number">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input name="password" type="password" class="form-control" id="InputPassword"
                               placeholder="Password">
                    </div>
                    <div th:if="${isDoctor}" class="form-group">
                        <label for="phoneNumber">Doctor Number</label>
                        <input name="phoneNumber" type="number" class="form-control" id="doctorNumber"
                               aria-describedby="emailHelp" placeholder="Enter phone Number">
                        <small id="doctorHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio">Men
                                </label>
                            </div>

                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Women
                            </label>
                        </div>
                    </div>


                    <button name="reg" type="submit" class="btn btn-primary" style="margin-top: 1em">Registration
                    </button>
                    <button name="exit" type="submit" class="btn btn-primary" style="margin-top: 1em; margin-left: 3em">
                        Exit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Registation for user -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-left: 8em">Type of users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="get">
                <div class="modal-body">
                    <button name="doctor" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Doctor
                    </button>
                    <button name="owner" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Owner
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>