<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header"></div>
<head>
    <style>
        .list-group-item-mine {
            background-color: mistyrose;
            border-radius: 5px;
        }

        .btn2 {
            background: #352A3B;
            width: 200px;
            height: 60px;
            border-radius: 10px;
        }

        .add:before {
            margin-right: 15px;
            content: "\2705";
        }

        .del:before {
            margin-right: 15px;
            content: "\274C";
        }

        .rec:before {
            margin-right: 15px;
            content: "\270D";
        }

    </style>
</head>


<!-- Modal Registation for user -->
<div class="modal fade" id="addPet" tabindex="-1" role="dialog" aria-labelledby="addPetTitleTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetTitle" style="margin-left: 8em">Добавить питомца</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form id="pet-form" action="/user/addPet" method="post">
                <div id="pet-form-alert" class="alert alert-danger d-none" role="alert">
                    Вы ввели неправильные данные
                </div>
                <div class="modal-body">

                <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="Имя" id="PetName">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="exampleFormControlSelect1">Example select</label>-->
                        <select name="selectType" class="form-control" id="Type" placeholder="Порода">
                            <option>Собака</option>
                            <option>Кот</option>
                            <option>Грызун</option>
                            <option>Кролик</option>
                            <option>Морская свинка</option>
                            <option>Черепаха</option>
                            <option>Екзотическое</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="age" type="text" placeholder="Возраст" id="Age">
                    </div>

                    <div class="form-group">
                        <select name="gender" class="form-control" id="Gender" placeholder="Пол">
                            <option value="Man">Мужской</option>
                            <option value="Woman">Женский</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" id="add-pet-button" name="add-pet-button" class="btn btn-success my-2 my-lg-0">Добавить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addPetById" tabindex="-1" role="dialog" aria-labelledby="addPetIDTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetIDTitle" style="margin-left: 8em">Добавить питомца по ID</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form id="pet-form-by-Id" name="pet-form-by-Id" action="/user/addPetById" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="pet-id" placeholder="ID" id="ID">
                        </div>
                    </div>
                </div>

                <!--<div class="modal-footer">-->
                    <!--<button type="submit" id="add-pet-button" name="add-pet-button" class="btn btn-success my-2 my-lg-0">Добавить-->
                    <!--</button>-->
                <!--</div>-->

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success my-2 my-lg-0" id="add-pet-button by " name="add-pet-button-id">Добавить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="note" id="Success">
    <div class="modal-dialog modal-dialog-centered" role="note">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Питомец добавлен</h5>
                <button type="button" id="modal-close-button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="note" id="SuccessWrite">
    <div class="modal-dialog modal-dialog-centered" role="note">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Питомец записан</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletePetID" tabindex="-1" role="dialog" aria-labelledby="deletePetIDTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePetIDTitle" style="margin-left: 8em">Удалить питомца по ID</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form action="/login" method="get">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ID">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success my-2 my-lg-0" data-target="#SuccessDelete"
                            data-toggle="modal" data-dismiss="modal">Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Registation for user -->
<div class="modal fade" id="goToDoctor" tabindex="-1" role="dialog" aria-labelledby="goToDoctorTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="goToDoctorTitle" style="margin-left: 8em">Записать на прием</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/user/addPet" method="get">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ID животного" id="IDPet">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="exampleFormControlSelect1">Example select</label>-->
                        <select name="selectType" class="form-control" id="TypeOfDoctor" placeholder="Доктор">
                            <option>Терапевт</option>
                            <option>Хирург</option>
                            <option>Офтальмолог</option>
                            <option>Дерматолог</option>
                            <option>Кардиолог</option>
                            <option>Стоматолог</option>
                            <option>Гинеколог</option>
                            <option>Профилактолог</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="gender" type="text" placeholder="Что случилось?" id="Ill">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="addAllPet" class="btn btn-success my-2 my-lg-0" data-toggle="modal"
                            data-target="#SuccessWrite" data-dismiss="modal">Записать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="note" id="SuccessDelete">
    <div class="modal-dialog modal-dialog-centered" role="note">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Питомец удален</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div>
    <header class="page-header">
        </br>
        <h1 class="page-title" align="center">Личная страница</h1>
    </header>
</div>

<!--<div>-->
<!--<p class="col-xs-12 col-sm-8">-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <figure>
            <img class="rounded-circle" alt=""
                 src="https://i.pinimg.com/originals/2d/0f/79/2d0f796f4655baeca812ed1b7af9abf7.jpg" width="300"
                 height="300">
        </figure>
    </div>
    <div class="col-md-7">
        <br class="list-group" style="height: 300px">
        </br>
        <li class="list-group-item list-group-item-mine" id="name"><p th:text="${firstName}" style="margin: 0px"/></li>
        <li class="list-group-item list-group-item-mine" id="surname"><p th:text="${secondName}" style="margin: 0px"/>
        </li>
        <li class="list-group-item list-group-item-mine" id="NickName"><p th:text="${nickname}" style="margin: 0px"/>
        </li>
        <li class="list-group-item list-group-item-mine" id="phone"><i class="fa fa-phone"></i>
            <p th:text="${phone}" style="margin: 0px"/></li>
        </ul>
    </div>
</div>

<h2 align="center">Ваши животные</h2>
</br>
<div class="row" align="center">
    <div class="col-md-3"></div>
    <div class="btn-group-horizontal">
        <button type="button" class="btn2 btn-dark add" data-target="#addPet" style="margin-right: 5px"
                data-toggle="modal">Добавить
        </button>
        <button type="button" class="btn2 btn-dark add" data-target="#addPetById" style="margin-right: 5px"
                data-toggle="modal">Добавить по ID
        </button>
        <button type="button" style="margin-right: 5px" class="btn2 btn-dark del" data-target="#deletePetID" data-toggle="modal">Удалить</button>
        <button type="button" style="margin-right: 5px" class="btn2 btn-dark rec" data-target="#goToDoctor" data-toggle="modal" >Запись на прием</button>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>№</th>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="pet,iter : ${pets}">
                <tr>
                    <td th:text="${iter.index} + 1"></td>
                    <td th:text="${pet.getId()}"></td>
                    <td th:text="${pet.getName()}"></td>
                    <td th:text="${pet.getType()}"></td>
                    <td th:text="${pet.getAge()}"></td>
                    <td th:text="${pet.getGender()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>

<div th:replace="footer :: footer"></div>
</body>
</html>

