<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="../static/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Hello, world!</title>
    <style>
        .list-group-item-mine {
            background-color: mistyrose;
            border-radius: 5px;
        }
        .btn2{
           background: #352A3B;
            width: 200px;
            height: 60px;
            border-radius: 10px;
        }
        .add:before  {
            margin-right: 15px;
            content: "\2705";
        }
        .del:before  {
            margin-right: 15px;
            content: "\274C";
        }
        .rec:before{
            margin-right: 15px;
            content: "\270D";
        }

    </style>
</head>
<div class="container-fluid" style="padding: 0px">
    <div class="container-fluid" style="padding: 0px" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="col-md-1">
                <!--<img src="https://i.imgur.com/KZsHvRS.png" width="50" height="50">-->
                <img src="https://image.flaticon.com/icons/svg/1642/1642899.svg" width="50" height="50">
            </div>
            <!--<a class="navbar-brand" href="index.php">Достижения клиники</a>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="https://vk.com/javawithfitr" target="_blank">Группа
                        VK</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://discord.gg/b3k8dDE" target="_blank">О
                        клинике</a></li>
                    <li class="nav-item "><a class="nav-link" href="rules.php">Лучшие доктора недели</a></li>
                </ul>

                <button id="ip-text1" style="margin-right: 15px" class="btn btn-success my-2 my-lg-0 " type="submit"
                        onclick="prompt('Скопируйте наш IP адрес и вставьте в ваш клиент:','MC.YOTTACRAFT.RU'); return false;">
                    Войти
                </button>

                <button id="ip-text" class="btn btn-success my-2 my-lg-0" type="submit" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    Зарегистрироваться
                </button>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

</div>
</div>


<!-- Modal Registation for user -->
<div class="modal fade" id="addPet" tabindex="-1" role="dialog" aria-labelledby="addPetTitleTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetTitle" style="margin-left: 8em">Добавить питомца</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form action="/login" method="get">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Имя"  id="PetName">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="exampleFormControlSelect1">Example select</label>-->
                        <select class="form-control" id="Type" placeholder="Порода">
                            <option>Собака</option>
                            <option>Кот</option>
                            <option>Грызун</option>
                            <option>Кролик</option>
                            <option>Морская свинка</option>
                            <option>Черепаха</option>
                            <option>Екзотическое</option>
                        </select>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<input type="text" class="form-control" placeholder="Порода" id="Type">-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Возраст" id="Age">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Пол" id="Gender">
                    </div>

                    <!--<div class="form-group">-->
                        <!--<div class="main-checkbox">-->
                            <!--<input type="checkbox" value="none" id="checkbox1" name="check"/>-->
                            <!--<label for="checkbox1"></label>-->
                            <!--<span class="text">Добавить по ID</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success my-2 my-lg-0" class="btn btn-secondary" data-toggle="modal"
                            data-target="#Success"  data-dismiss="modal">Добавить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addPetID" tabindex="-1" role="dialog" aria-labelledby="addPetIDTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetIDTitle" style="margin-left: 8em">Добавить питомца по ID</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form action="/login" method="get">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ID"  id="ID">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success my-2 my-lg-0" class="btn btn-secondary" data-target="#Success"  data-toggle="modal" data-dismiss="modal">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal" tabindex="-1" role="note" id="Success" >
    <div class="modal-dialog modal-dialog-centered" role="note">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Питомец добавлен</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Modal Registation for user -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="margin-left: 8em">Type of users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="get">
                <div class="modal-body">
                    <button name="doctor" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Doctor
                    </button>
                    <button name="owner" type="submit" class="btn btn-success" style="width:220px;height: 100px;">
                        Owner
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <header class="page-header">
        </br>
    <h1 class="page-title" align="center">Личная страница</h1>
    </header>
</div>

<!--<div>-->
<!--<p class="col-xs-12 col-sm-8">-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
    <figure>
        <img class="rounded-circle" alt="" src="https://i.pinimg.com/originals/2d/0f/79/2d0f796f4655baeca812ed1b7af9abf7.jpg" width="300" height="300">
    </figure>
    </div>
    <div class="col-md-7">
        <br class="list-group" style="height: 300px">
            </br>
            <li class="list-group-item list-group-item-mine" id="name">Name</li>
            <li class="list-group-item list-group-item-mine" id="surname">Surname</li>
            <li class="list-group-item list-group-item-mine" id="NickName">NickName</li>
            <li class="list-group-item list-group-item-mine" id="phone"><i class="fa fa-phone"></i> +37529..... </li>
        </ul>
    </div>
</div>

<h2 align="center">Ваши животные</h2>
</br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>№</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@TwBootstrap</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td >Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="btn-group-vertical">

            <button type="button" class="btn2 btn-dark add" data-target="#addPet" data-toggle="modal">Добавить</button>
            </br>
            <button type="button" class="btn2 btn-dark add" data-target="#addPetID" data-toggle="modal" >Добавить по ID</button>
            </br>
            <button type="button" class="btn2 btn-dark del">Удалить</button>
            </br>
            <button type="button" class="btn2 btn-dark rec">Запись на прием</button>

        </div>
    </div>
</div>

<!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

