<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: header"></div>
<head>
    <style>
        .list-group-item-mine {
            background-color: mistyrose;
            border-radius: 5px;
        }

        .btn2 {
            background: #352A3B;
            width: 300px;
            height: 80px;
            border-radius: 10px;
        }

        .add:before {
            margin-right: 15px;
            content: "\2705";
        }

        .del:before {
            margin-right: 15px;
            content: "\274C";
        }

        .rec:before {
            margin-right: 15px;
            content: "\270D";
        }

    </style>
</head>


<div>
    <header class="page-header">
        </br>
        <h1 class="page-title" align="center">Личная страница питомца</h1>
    </header>
</div>

<!--<div>-->
<!--<p class="col-xs-12 col-sm-8">-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <figure>
            <img class="rounded-circle" alt=""
                 src="https://image.flaticon.com/icons/png/512/37/37318.png" width="300"
                 height="300">
        </figure>
    </div>
    <div class="col-md-7">
        <br class="list-group" style="height: 300px">
        </br>
        <li class="list-group-item list-group-item-mine" id="name"><td th:text="${pet.getName()}"></td></li>
        <li class="list-group-item list-group-item-mine" id="type"><td th:text="${pet.getType()}"></td>
        </li>
        <li class="list-group-item list-group-item-mine" id="age"><td th:text="${pet.getAge()}"></td>
        </li>
        <li class="list-group-item list-group-item-mine" id="gender"><td th:text="${pet.getGender()}"></td>
        </li>

    </div>
</div>
<h2 align="center">Симптомы</h2>
<!--<div class="row">-->
    <!--<div class="col-md-2"></div>-->
    <!--<div class="col-md-">-->
        <!--<br class="list-group" style="height: 300px">-->
        <!--</br>-->
        <!--<li class="list-group-item list-group-item-mine"><p th:text="Насморк" style="margin: 0px"/></li>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Id DH</th>
                <th>Date</th>
                <th>Client</th>
                <th>Symptom</th>
                <th>Doctor</th>
                <th>Diagnose date</th>
                <th>Specialty</th>
                <th>Diagnosis</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="diseaseHistory,iter : ${pet.getMedicalCard()}">
                <tr>
                    <td th:text="${iter.index} + 1"></td>
                    <td th:text="${diseaseHistory.getId()}"></td>
                    <td th:text="${diseaseHistory.getDate().toString()}"></td>
                    <td th:text="${diseaseHistory.getClient().getUsername()}"></td>
                    <td th:text="${diseaseHistory.getDescription()}"></td>
                    <td th:text="${diseaseHistory.getDoctor() == null ? 'нет доктора' : diseaseHistory.getDoctor().getUsername()}"></td>
                    <td th:text="${diseaseHistory.getAnswerDate()}"></td>
                    <td th:text="${diseaseHistory.getDoctorType()}"></td>
                    <td th:text="${diseaseHistory.getAnswer()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>


</br>
<div class="row" align="center">
    <div class="col-md-4"></div>
    <div class="btn-group-horizontal">


    </div>
</div>
</br>


<div th:replace="footer :: footer"></div>
</body>
</html>

